* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    color: #fff;
}

/* ---------- general ---------- */

img {
    display: block;
    max-width: 100%;
}

.container {
    max-width: 70%;
    margin: 0 auto;
}

.btn {
    background: #e50914;
    cursor: pointer;
}

.btn:hover {
    background: #F40612;
}

/* ---------- /general ---------- */

.logo{
    width: 132px;
    pointer-events: none;
}

.header {
    z-index: 2;
    position: absolute;
    top: 28px;
    width: 100%;
    padding: 0 5%;
    display: flex;
    justify-content: space-between;
}

.header a {
    display: inline-block;
    color: #fff;
    align-self: flex-start;
    padding: 8px 18px;
    text-decoration: none;
    border-radius: 3px;
}

.main {
    width: 100%;
    height: 688px;
    background: url(./banner.jpg) center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.main-child {
    display: grid;
    justify-items: center;
    z-index: 1;
    text-align: center;
}

.main-child h1 {
    font-size: 50px;
    max-width: 600px;
}

.main-child span {
    font-size: 26px;
}

.form-cta {
    display: grid;
    grid-template-columns: 500px 200px;
    margin: 30px 0 15px 0;
}

.form-cta input {
    padding: 15px 10px;
    font-size: 18px;
    font-family: sans-serif;
    outline: none;
}

.form-cta button {
    color: #fff;
    border: none;
    text-transform: uppercase;
    font-size: 1em;
}

.main p {
    font-size: 19px;
}

.gradient {
    background: rgba(0,0,0,0.4);
    background-image: linear-gradient(to top,rgba(0,0,0,.8) 0,rgba(0,0,0,0) 60%,rgba(0,0,0,.8) 100%);
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
}

/* ---------- Sessões ---------- */

.section {
   background: #000;
   padding: 4rem 0;
   border-top: 8px solid #222;
}

.section h2 {
    font-size: 42px;
    margin-bottom: 16px;
}

.section p {
    font-size: 20px;
}

.grid {
    display: grid;
    grid-template-columns: 1.1fr 1.1fr;
    align-items: center;
}

.img-tv {
    position: relative;
}

.img-tv img {
    position: relative;
    z-index: 1;
}

.img-item {
    width: 472px;
    min-width: 472px;
}

/* ---------- /Sessões ---------- */


/* ---------- TV ---------- */

.video-tv {
    width: 400px;
    position: absolute;
    top: 70px; left: 60px;
}

/* ---------- /TV ---------- */


/* ---------- Mobile ---------- */

.card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 9px 12px;

    position: absolute;
    bottom: 0;
    left: 102px;
    z-index: 1;

    width: 100%;
    max-width: 330px;
    background: #000;
    border: 1px solid #ccc;
    border-radius: 15px;
}

.card img {
    width: 50px;
}

.card::after {
    content: '';
    width: 48px;
    height: 60px;
    background: url(./download-icon.gif) center center no-repeat;
    background-size: 100%;
}

.card div {
    padding: 0 5px;
}

.card span {
    color: #0071eb;
    font-size: .75em;
}

/* ---------- /Mobile ---------- */


/* ---------- Devices ---------- */

.video-devices {
    max-width: 288px;
    position: absolute;
    top: 35px;
    left: 90px;
}

/* ---------- /Devices ---------- */


/* ---------- FAQ ---------- */

.faq {
    display: flex;
    flex-direction: column;
}

.faq h2 {
    text-align: center;
}

.faq-item {
    margin: 0 auto;
    margin-bottom: 10px;
}

.accordion {
    background-color: #303030;
    color: #fff;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    max-width: 815px;
    border: none;
    text-align: left;
    outline: none;
    font-size: 1.3em;
    transition: 0.4s;
  }
  
.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
    clear: both;
  }
  
.active:after {
    content: "\2212";
}

.painel {
    max-width: 815px;
    padding: 0 18px;
    background-color: #303030;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.painel p {
    padding: 30px 0;
    font-size: 1.2em;
}

/* ---------- /FAQ ---------- */

/* ---------- Footer ---------- */
footer.section {
    color: #757575;
} 

footer.section h4 {
    margin-bottom: 40px;
}

.ft-items {
    display: flex;
    justify-content: space-between;
}

footer.section ul {
    list-style: none;
}

footer.section ul li {
    margin-bottom: 20px;
    font-size: 14px;
}

/* ---------- /Footer ---------- */

@media (max-width: 1080px) {
    .main-child {
        width: 80%;
    }

    .form-cta {
        display: flex;
    }

    .form-cta button {
        padding: 0 20px;
    }

    .grid {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .img-tv {
        order: 1;
    }

    .card {
        left: 50%;
        transform: translateX(-50%);
    }

}